@{
    ViewData["Title"] = "Watch Videos";
}
@model List<SaiPublicity.Models.VideoModel>

<section class="breadcrumb-section py-5">
    <div class="container">
        <h2 class="montserrat-SemiBold  mb-3">Videos</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/" class="text-decoration-none text-dark">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Videos</li>
            </ol>
        </nav>
    </div>
</section>

<section class="mb-5">
    <div class="container">
         <div class="row my-5 ">
            @foreach (var video in Model)
            {
                <div class="col-md-6 mb-5 p-0">
                    <div class="p-3">
                        <div class="video-wrapper rounded-3 overflow-hidden">
                            <div class="ratio ratio-16x9">
                                <iframe class="video-frame"
                                        width="560"
                                        height="350"
                                        src="@($"{video.EmbedLink}&controls=0&modestbranding=1&rel=0&iv_load_policy=3")"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                        <h4 class="text-center pt-2 mb-0">@video.VideoName</h4>
                    </div>
                </div>

            }
        </div> 
    </div>
</section>
<script src="https://www.youtube.com/iframe_api"></script>
<script>
    var players = [];

    function onYouTubeIframeAPIReady() {

        var iframes = document.querySelectorAll("iframe.video-frame");

        iframes.forEach(function (iframe, index) {
            players[index] = new YT.Player(iframe, {
                events: {
                    'onStateChange': onPlayerStateChange
                }
            });
        });
    }

    function onPlayerStateChange(event) {
        if (event.data === YT.PlayerState.PLAYING) {
            players.forEach(function (player) {
                if (player !== event.target) {
                    player.pauseVideo();
                }
            });
        }
    }
</script>