@{
    ViewData["Title"] = "News Detail";
}

<section class="breadcrumb-section py-5 bg-light">
    <div class="container">
        <h2 class="montserrat-SemiBold mb-3">
            New LED Drive
        </h2>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/" class="text-decoration-none text-dark">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/news" class="text-decoration-none text-dark">News</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    New LED Drive
                </li>
            </ol>
        </nav>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">

                <div class="news-image-wrapper text-center mb-4">
                    <img src="~/images/our-team.jpg"
                         class="img-fluid rounded-5 shadow-sm" />
                </div>

                <h1 class="montserrat-regular mb-3">
                    New LED Drive
                </h1>

                <p class="text-muted small mb-4" >
                    <i class="bi bi-calendar-week me-1"></i> 12 Nov 2025                   
                </p>

                <div class="news-description">
                    <p class="montserrat-regular mb-3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                    <p class="montserrat-regular">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>

                <div class="share-box mt-5 pt-4 border-top" >
                    <h6 class="montserrat-SemiBold mb-3">Share This News</h6>
                    <div class="d-flex gap-3">
                        <a href="https://www.facebook.com/" target="_blank" class="btn btn-outline-dark rounded-circle p-2"><i class="bi bi-facebook"></i></a>
                        <a href="https://x.com/" target="_blank" class="btn btn-outline-dark rounded-circle p-2"><i class="bi bi-twitter"></i></a>
                        <a href="https://in.linkedin.com/" target="_blank" class="btn btn-outline-dark rounded-circle p-2"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.whatsapp.com/" target="_blank" class="btn btn-outline-dark rounded-circle p-2"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
