@{
    ViewData["Title"] = "Clients";
}

<section class="breadcrumb-section py-5">
    <div class="container">
        <h2 class="montserrat-SemiBold  mb-3">Clients</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/" class="text-decoration-none text-dark">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Our Major Clients</li>
            </ol>
        </nav>
    </div>
</section>
<section class="py-5 pb-0 pb-md-5 ">
    <div class="container">
        <div class="row align-items-center g-4">
            <div class="col-md-6" data-aos="fade-right">
                <img src="~/images/client-page.jpg" alt="About Sai Publicity" class="img-fluid rounded-5" />
            </div>
            <div class="col-md-6" data-aos="fade-left">
                <h2 class="montserrat-SemiBold mb-3">Our Trusted Clients</h2>
                <p class="text-secondary">
                    We’re proud to have collaborated with over 50+ brands across industries — from corporate to creative,
                    each trusting us to bring their vision to life with innovation and reliability.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Clients Intro -->
<section class="py-5">
    <div class="container text-center">
       
        <div class="row justify-content-center g-4">
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-1.png" alt="Client 1"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-2.png" alt="Client 2"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-3.png" alt="Client 3"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-4.png" alt="Client 4"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-5.png" alt="Client 5"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-6.png" alt="Client 1"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-7.png" alt="Client 1"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-8.png" alt="Client 2"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-9.png" alt="Client 3"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-10.png" alt="Client 4"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-11.png" alt="Client 5"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-12.png" alt="Client 1"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-13.png" alt="Client 2"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-14.png" alt="Client 3"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-15.png" alt="Client 4"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-16.png" alt="Client 5"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-17.png" alt="Client 4"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-18.png" alt="Client 5"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-19.png" alt="Client 1"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-20.png" alt="Client 2"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-21.png" alt="Client 4"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-22.png" alt="Client 5"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-23.png" alt="Client 1"></div>
            </div>
            <div class="col-lg-2 col-md-3 col-4">
                <div class="client-card"><img src="~/images/clients/client-24.png" alt="Client 2"></div>
            </div>
        </div>

    </div>
</section>
