@{
    ViewData["Title"] = "Services";
}
<style>
    .gradient-text {
        background: linear-gradient(to bottom, #AB7084, #2D3559);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* For better support */
        background-clip: text;
        color: transparent;
    }

</style>
<section class="breadcrumb-section py-5">
    <div class="container">
        <h2 class="montserrat-SemiBold  mb-3">Services</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/" class="text-decoration-none text-dark">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Services</li>
            </ol>
        </nav>
    </div>
</section>

<section class="py-5">
    <div class="container">     
        <div class="row g-4 align-items-center">
            <div class="col-md-6">
                <img src="~/images/services/service-img.jpg" class="img-fluid rounded-5" />
            </div>
            <div class="col-md-6">
                <h3 class="font-3xl gradient-text" data-aos="fade-right" data-aos-delay="200">
                    At Sai Publicity and Advertising Company, we provide complete in-house solutions for branding, signage, and display fabrication — from design to installation and maintenance.
                </h3>
            </div>
            
        </div>
    </div>
</section>

<section class="specialities-section py-5 bg-light">
    <div class="container">
        <h3 class="montserrat-SemiBold mb-4" data-aos="fade-right">
            Our Specialities
        </h3>
        <p class="text-muted mb-4">
            SAI Advertising caters to a wide range of customer signage and custom-made requirements.
            We have the right facilities and expertise to produce :
        </p>

        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled ps-3">
                    <li>Graphic Designing</li>
                    <li>Fabrication – Metals and Plastics</li>
                    <li>Cuffing – Water Jet, Laser, Routers, etc.</li>
                    <li>Welding – Steel and Aluminium</li>
                    <li>Painting – Spray</li>
                   
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled ps-3" >
                    <li>Printing – Digital, Screen, and Heat Transfer</li>
                    <li>Vinyl and Graphics – Computerized Plotter Cutting & Mounting</li>
                    <li>Etching and Engraving</li>
                    <li>Sign Repair, Servicing, and Maintenance</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="products-section py-5">
    <div class="container">
        <h3 class="montserrat-SemiBold  mb-4" data-aos="fade-right">
            Our Range of Signage Products
        </h3>
        <p class="open-sans-Regular text-muted mb-4">
            Sai has successfully installed a wide range of signage products, including :
        </p>

        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled ps-3">
                    <li>Flex Signs – Single / Double Sided</li>
                    <li>3D Box Type Letter Signs – Frontlit, Backlit, Front and Backlit</li>
                    <li>Illuminated Acrylic Edgelit </li>
                    <li>Non-Illuminated Cut Letter Signs</li>
                    <li>Custom-Made Acrylic Products – Stands, Boxes, Holders etc.</li>
                    <li>Digital Printing – Banners, Roll-Ups, Pop-Up Stand etc.</li>
                    <li>Plotter Cut Graphics on Any Surface</li>
                    <li>Vehicle Branding</li>

                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled ps-3">
                    <li>Aluminium High Inensity Reflective Traffic and Informative Signs (Aluminium Post as well as foldable stand)</li>
                    <li>SS Etching, Aluminium, Plastic Engraving and Screen Printing Signs</li>
                    <li>Name Badges (SS, Brass, with / without epoxy coating Anodized Aluminium, engraving Sheets)</li>
                    <li>Gifts and Promotional Items</li>
                    <li>Printing, Embroidery and Heat Transfer on T-Shirts, Caps, Boiler Suits, Uniforms etc.</li>
                    <li>Event and Exhibition Backdrops</li>
                    <li>Traffic Cones, Barriers, Warning Tapes etc.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="py-5 signage-section">
    <div class="container">
        <div class="row align-items-center g-4">

            <div class="col-md-6 " data-aos="fade-left">
                <div class="">
                    <img src="~/images/services/service-3dSignages.jpg" alt="3D Signage" class="img-fluid rounded-5"/>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-right">
                <h2 class="montserrat-SemiBold mb-3 fs-1">
                    3D Illuminated & Non-Illuminated Signages
                </h2>
                <p class="text-muted mb-3" >
                    We create premium quality illuminated and non-illuminated 3D signages that enhance brand visibility,
                    day and night. Choose from a variety of finishes and materials to suit your space and style.
                </p>
                <ul class="modern-list list-unstyled  mb-0">
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Neon / LED Illuminated</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>3D Acrylic Signage</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>3D Aluminium Signage</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>3D Brass Signage</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>3D Stainless Steel Signage</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Illuminated Acrylic Edgelit Signage</li>
                </ul>

            </div>
        </div>

        <div class="row align-items-center g-4 my-5">
            <div class="col-md-6" data-aos="fade-right">
                <h2 class="montserrat-SemiBold mb-3 fs-1">
                    Digital Printing
                </h2>
                <p class="text-muted mb-3">
                    We provide vibrant and durable digital prints on a wide range of materials to suit every branding and display need.
                </p>
                <ul class="modern-list list-unstyled  mb-0">
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Flat Bed Printing on Aluminium, Glass, Acrylic, <br />Stainless Steel, Plywood</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Flex</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Vinyl Print</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Truss System</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Roll-Up</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Foam Board</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Stage Backdrop</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Pop-Up Stand</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Vehicle Branding</li>
                </ul>

            </div>

            <div class="col-md-6 text-center" data-aos="fade-left">
                <div class="">
                    <img src="~/images/services/digital-printing.jpg" alt="3D Signage" class="img-fluid rounded-5" />
                </div>
            </div>
        </div>

        <div class="row align-items-center g-4">

            <div class="col-md-6 " data-aos="fade-left">
                <div class="">
                    <img src="~/images/services/Flex-Sign-Boards.jpg" alt="3D Signage" class="img-fluid rounded-5" />
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-right">
                <h2 class="montserrat-SemiBold mb-3 fs-1">
                    Illuminated and Non-Illuminated Flex Sign
                </h2>
                <p class="text-muted mb-3">
                    We design eye-catching flex signboards, both lit and non-lit, that ensure your brand shines day and night with high-quality printing and durable materials.
                </p>
                <ul class="modern-list list-unstyled  mb-0">
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Digital Printed Backlit Flex Face Signboard</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Vinyl Graphics Backlit Flex Face Signboard</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Fluorescent Lights / LED Tube Light Illumination</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Frontlit Flex with Metal frame (Non-Illuminated)</li>
                </ul>

            </div>
        </div>

        <div class="row align-items-center g-4 my-5">
            <div class="col-md-6" data-aos="fade-right">
                <h2 class="montserrat-SemiBold mb-3 fs-1">
                    Traffic / Safety Sign Boards
                </h2>
                <p class="text-muted mb-3">
                    We manufacture durable and highly visible traffic and safety sign boards that ensure clear communication and enhance road and workplace safety, day and night.
                </p>
                <ul class="modern-list list-unstyled  mb-0">
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>High Intensity Honeycomb Reflective Sign Boards </li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Engineering Grade Reflective Sign Boards</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Industrial Safety Sign Board</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Road Safety Sign Boards</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Informative Safety Sign Boards</li>
                </ul>
            </div>

            <div class="col-md-6 text-center" data-aos="fade-left">
                <div class="">
                    <img src="~/images/services/TrafficSafety-Sign-Boards.jpg" alt="3D Signage" class="img-fluid rounded-5" />
                </div>
            </div>
        </div>

        <div class="row align-items-center g-4">

            <div class="col-md-6" data-aos="fade-left">
                <div class="">
                    <img src="~/images/services/Gift-Items.jpg" alt="3D Signage" class="img-fluid rounded-5" />
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-right">
                <h2 class="montserrat-SemiBold mb-3 fs-1">
                    Screen Printing / Gift Items / Embroidery / Heat Transfer
                </h2>
                <p class="text-muted mb-3">
                    We offer customized printing and embroidery solutions on a wide range of promotional products, helping your brand stand out with unique and creative merchandise.
                </p>
                <ul class="modern-list list-unstyled  mb-0">
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Sunshade</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Caps</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>T-Shirts</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Mugs</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Epoxy Name Badges</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Pin Badges</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Gift Items</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>USB</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Id Card Lanyards</li>
                </ul>

            </div>
        </div>

        <div class="row align-items-center g-4 my-5">
            <div class="col-md-6" data-aos="fade-right">
                <h2 class="montserrat-SemiBold mb-3 fs-1">
                    Events & Exhibition
                </h2>
                <p class="text-muted mb-3">
                    We design and deliver impactful event and exhibition setups that highlight your brand, attract attention, and create lasting impressions.
                </p>
                <ul class="modern-list list-unstyled  mb-0">
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Stands</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Event Backdrops</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Event Stage Design</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Magnetic Pop-Up Stands</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Displays</li>
                    <li><i class="fa-solid fa-circle-check me-2 themeSecondary"></i>Podiums and Much More...</li>
                </ul>
            </div>

            <div class="col-md-6 text-center" data-aos="fade-left">
                <div class="">
                    <img src="~/images/services/Events-Exhibition.jpg" alt="3D Signage" class="img-fluid rounded-5" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row g-4">
            <h3 class="montserrat-SemiBold mb-4" data-aos="fade-right">
                Explore More of What We Do
            </h3>
            <div class="col-md-3">
                <div class="text-center ">
                    <img src="~/images/services/Vehicle.png" class="img-fluid rounded-5 shadow" />
                    <h3 class="fs-5 mt-3">Vehicle Branding, Wall Stickers & Meeting Stand</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center ">
                    <img src="~/images/services/Acrylic-Works.png" class="img-fluid rounded-5 shadow" />
                    <h3 class="fs-5 mt-3">Acrylic Works</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center ">
                    <img src="~/images/services/Stainless-SteelBrass.png" class="img-fluid rounded-5 shadow" />
                    <h3 class="fs-5 mt-3">Stainless Steel / Brass / Aluminium Chemical Etching</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center ">
                    <img src="~/images/services/Traffolyte-Lazer.png" class="img-fluid rounded-5 shadow" />
                    <h3 class="fs-5 mt-3">Traffolyte Lazer Engraving Tags</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center ">
                    <img src="~/images/services/Solar-Traffic-Diverter.png" class="img-fluid rounded-5 shadow" />
                    <h3 class="fs-5 mt-3">Solar Traffic Diverter</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center ">
                    <img src="~/images/services/Variable-Message-Sign.png" class="img-fluid rounded-5 shadow" />
                    <h3 class="fs-5 mt-3">Variable Message Sign (VMS)</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center ">
                    <img src="~/images/services/Temporary-Construction-Sinages.png" class="img-fluid rounded-5 shadow" />
                    <h3 class="fs-5 mt-3">Temporary Construction Sinages</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center ">
                    <img src="~/images/services/Project-Construction-Site-Sign-Board.png" class="img-fluid rounded-5 shadow" />
                    <h3 class="fs-5 mt-3"> Project Construction Site Sign Board</h3>
                </div>
            </div>
        </div>
    </div>
</section>
